[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Tatchi
Comment=Control your touchscreen
Icon=
X-XFCE-Module=tatchi
X-XFCE-Internal=true
X-XFCE-Unique=true
X-XFCE-API=2.0
